/* FONTS */
/* font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
weight: 300 400 600 */



:root {
    --white: #fff;
    --dark-creamy: #F2DEBA;

/* Ligth palette */

 /* --light-creamy: #f5f3ef;

    --light-creamy: #f7f5df; 
     --violet: #007562; 
    --dark-violet: #003d33;
    --header: #eeffdd; 
     --button-test: white;   */
    

/* dark paletter */
    /* --light-creamy: #1F2833;
    --violet: #66FCF1;
    --text-color: white;
    --header: #d1f2ef;
    --button-test: black; */

    /* sims palette */
    --violet: #115D6F;
    --dark-violet: #115D6F;
    --button-test: #e6f0f3;
    --header:rgb(227, 255, 205);
    --ligth-creamy: #ddf0f5;
    
    
    
    #5cd546
    #004D73



    --blacl: black;
    --color-of-sim: #73d90d;
   

}



body {
    background-color: var(--light-creamy);
    width: 100vw;
    color: rgb(46, 45, 45);
}

/* buttons */
.news_button {
    display: flex;
    justify-content: center;

    margin: 3rem;
    


}
.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* hamburger */
header {
    position: fixed;
    top: 0;
    z-index: 99;

    width: 100%;
    padding: 1rem;


}

header p {
    color: white;
    margin: -0.5rem;}
.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    
}
.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(42, 48, 44);
    margin: 6px 0px;
    transform: 0.4s;

}

.hamburger.is_active:before {
    transform: rotate(-45deg) translate(-9px, 7px);
}
.hamburger.is_active .bar {
    opacity: 0;
}
.hamburger.is_active:after {
    transform: rotate(45deg) translate(-8px, -7px);
}

.mobile_nav {
    position: fixed;
    top:0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--dark-violet);
    padding-top: 9rem
  
}

.mobile_nav.is_active {
    left: 0;
}
.mobile_nav a {
    display: block;
    text-align: center;
    margin-bottom: 0.6rem;
    padding: 1rem 1rem;
    background-color: #036958;
}
.mobile_nav a:hover {
    background-color: #0ba88e;
}
.news button {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    background-color: var(--violet);

    border-color: var(--violet);
    border-radius: 0.2rem;
    color: var(--button-test);

    width: 40vw;
    height: 8vw;
}

hr {
    border: 0.1px solid ;
    width: 19rem;
    margin: 0 auto;
}

.news hr {
    width: 15rem;
    margin: 1rem;
    margin-top: 0;
}
/* section_header */
.big_nav {
    display: flex;
    align-items: center;
    justify-content: end;
    

    width: 100%;

    background-color: var(--dark-violet)
}
.big_nav_content {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0 8rem;
}
.big_nav a {
    font-size: 1.5rem;
}
.nav_menu {
    display: flex;
    justify-content: space-between;

    width: 37%;
    margin: 0 6rem;
}

.menu_icon {
    width: 3rem;
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    z-index: 99;

}
.section_header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header_img img{
/* city */
    /* object-position: -12rem;
    width: 123rem;
    height: 100%;

    filter: brightness(84%); */

    /* sky */

    /* object-position: -19rem;
    width: 102rem;
    height: 118%;
   
    filter: brightness(84%); */


    object-position: 33rem -3rem;
    width: 102rem;
    height: 118%;
    filter: brightness(46%);
    object-fit: scale-down;
    transform: rotate(0deg);

}

.header_text {
    position: absolute;
    /* font-size: 500rem!important; */
    text-align: center;
    /* color: #d4f7c9; */
    color: var(--header);
    top: 7rem;
}

.header_text p {
    font-size: 1rem;
}
/* section_body */
.section_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body_main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    overflow: hidden;

}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin-bottom: 3vh;
    /* background-color: rgba(243, 247, 255, 0.3); */
    color: var(--text-color);

    width: 100%;

}
.news_img {
    height: 53vh;
    /* width: 100%; */
    overflow: hidden;
    object-fit: scale-down;
}
.news img {
    /* height: 50vh; */
    /* width: 100rem; */
    /* width: 132%; */
    height: 100%;
}

.news_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vw;
    margin: 3rem
}

.footer_main {
    background-color: rgb(227, 225, 219);
    color:rgba(46, 45, 45, 0.4);
    margin: 2rem 0;
}

@media screen and (max-width: 378px) {

}
@media screen and (max-width: 540px) {
    .big_nav {
        display: none;
       }


    .first_news img {
        object-position: -5rem;
    }
    .hamburger {
        /* display: block; */
    }
}




@media screen and (min-width: 540px) and (max-width: 780px) {
 


    .big_nav {
        display: none;
    }
    .header_img img {
        object-position: 23rem -3rem;
}
}


@media screen and (min-width: 780px) and (max-width: 1200px){ 

    .hamburger {
        display: none;
    }

    
    .header_box {
        width: 100%;
    }


    .news_text {
        height: 100vh;
    }
    .news_img {
        height: 100vh;
    }
    .news button {
        width: 10rem;
        height: 2.3rem;
    }


    .news img  {
        /* height: 161%; */
        /* object-position: -44rem -21rem; */
        width: 50vw;
        object-fit: cover;
        height: 100%;
    }

   
    .news {
        margin: 0rem;
        display: flex;
        flex-direction: row;
        height: 100vh;
    }


    .news_text {
        height: auto;
        width: 50vw;
        margin: 0;
        padding: 3rem;
    }

    .first_news img {

        /* object-position: -36rem -1rem; */
    }

    .second_news img {
        /* object-position: -23rem 0rem; */
    }
 
    .header_img img {
        object-position: 0;
    width: 102rem;
    height: 83%;
    object-fit: cover;

 
    }
}
 


 @media screen and (min-width: 1200px) {
    .hamburger {
        display: none;
    }
       .header_img img {
        object-position: 0;
    width: 102rem;
    height: 83%;
   object-fit: cover;

 
    }
    .news_text {
        height: 100vh;
    }
    .news_img {
        height: 100vh;
    }
    .news img  {
        /* height: 161%; */
        /* object-position: -44rem -21rem; */
        width: 50vw;
        object-fit: cover;
        height: 100%;
    }

    .news button {
        width: 10rem;
        height: 2.3rem;
    }
    .news {
        margin: 0rem;
        display: flex;
        flex-direction: row;
        height: 100vh;
    }




 
    .news_text {
        height: auto;
        width: 50vw;
        margin: 0;
        padding: 3rem;
    }



 }